{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/footer.css' %}"/><footer class="footer bg-dark text-white py-4 mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-uppercase">Menu</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'all_products' %}" class="text-white text-decoration-none">All Products</a></li>
                    <li><a href="{% url 'all_categories' %}" class="text-white text-decoration-none">Categories</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="text-uppercase">Follow Us</h5>
                <div class="d-flex justify-content-center gap-3">
                    <a href="#" class="text-white"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <h5 class="text-uppercase">Contact</h5>
                <p class="mb-1"><i class="fas fa-envelope"></i> ahmedmazenm@outlook.com.com</p>
                <p class="mb-0"><i class="fas fa-phone"></i> +201208331953</p>
            </div>
        </div>

        <hr class="bg-light my-3">

        <p class="mb-0">&copy; 2025 By Eng.Ahmed Mazen. All Rights Reserved.</p>
    </div>
</footer>
